
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v19-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('../fonts/raleway-v19-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/raleway-v19-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/raleway-v19-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/raleway-v19-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/raleway-v19-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}


/* couleurs à utiliser en hexa
    Bleu:           #0065FC
    Bleu clair:     #DEEBFF
    Gris:           #F2F2F2
    Gris shadow:    #c2c2c2 */

body 
{
  font-family: "Raleway", sans-serif;  /*application de la police raleway à tout le document */
  margin: 3%;
  
}

p,a
{
  font-size: 1.1em;
}


h1,h2 /* taille des titres*/
{
 font-size: 1.4em;
}
a /* les liens sont non-soulignés et noirs par défaut */
{
  text-decoration:none; 
  color: black;  
}

i /* Toutes les icônes sont en bleu (exception icône GPS) */
{
color: #0065FC;
}

/* style header */

header
{
  display:flex;
  flex-wrap: wrap; /* effectue le retour à la ligne pour le block subheader */
  justify-content: space-between;

}

#Reservia
{width:70%;/* on précise la largeur pour positionnement subheader */
  position:relative;
  bottom: 13px;
}
#Reservia img /* Resize logo reservia*/
{
  width: 120px;

}



nav /*disposition du texte menu de navigation */
/* les liens “Hébergements” et “Activités” sont des ancres qui mènent aux sections de la page. */
{
  display: flex;
  justify-content: space-around ;
  width: 20%; /* on précise la largeur pour positionnement subheader */

}

a:hover /* couleur Hover de tous les liens de la page */
{
  color: #0065FC;
  
}


header span /* gras et couleur 's'inscrire' */
{
width:10%; /* on précise la largeur pour positionnement subheader */
color: #0065FC ;
font-weight: bold;

}

#subheader /* largeur box subheader et margin */
{
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  
}

#subheader h1, #subheader p /* marges des textes subheader */
{
margin-bottom: 1px;
margin-top: 0;
}

/* style zone de recherche subheader */



#zonerecherche /* style de la zone d'entrée du filtre: zonerecherche*/ 


{ 
  font-size: 1.4em;
  display: flex;
  margin-top: 1em;
  height: 50px;
  
}

#zonerecherche i /* couleur et taille de l'icône GPS */
{
color: black;
background-color: #F2F2F2;
border-radius: 30% 0 0 30%;
width: 1.5em;
display: flex;
align-items: center;
padding-left: 1em;

}

#zonerecherche input /* style formulaire */
{
width: 250px ;
border: 3px solid #F2F2F2;
font-size: 0.8em;
}

#zonerecherche a /*style bouton rechercher*/ 
{
background-color: #0065FC;
border-radius: 0px 20px 20px 0px ;
width: 6em;
padding-left: 1em;
color: white;
font-size: 1em;
display: flex;
align-items: center;

}







/* style section filtres */

#filtres
{
display:flex;
flex-direction:column ;

}

#filtrespicto
{
display: flex;

}




.bouton
{
  width:max-content;

display: flex;
align-items: center;
height: 3em;
margin-left: 2%;
border: 3px solid #F2F2F2 ;
border-radius: 50px; /* en valeur absolue pour un rendu plus homogène */
border-left: white;
font-size: 1.2em;
}

.bouton:hover /* style hover des boutons filtres */
{
  background-color: #DEEBFF;
  
}

.bouton i /* placement icônes bouton et bordure */
{
  align-self: center;
  text-align: center;
  padding: 1em;
  background-color: #F2F2F2;
  height: 26px;
  width: 26px;
  border-radius: 35px;
  position: relative; top: 0.5px;
}

.bouton p /* style texte boutons */
{
padding: 0em 1em 0em 1em;

font-weight: bold;
}

#filtresinfo /*postionnement des éléments sur la zone info des filtres*/
{
 
display: flex;
align-items: center;
}

#filtresinfo p /* espacement éléments filtresinfo */
{
margin-left: 0.5em;

}

#corps /* flexer la div qui gère le corps de la page */
{
display: flex;
justify-content: space-between;


}

/* Style section hébergements */

#hebergements /* /!\ Comment on fait si on peut rajouter une carte pour que la zone s'agrandisse d'elle-même? Faire des tests sur une autre branche*/
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F2F2F2;
  border-radius: 20px;
  width: 66%;
}

#hebergements h2
{
margin: 2% 0 0 5%;

}

#cadrebox /* disposition des boxes dans section hébergements */
{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
margin: 2%;


}

#hebergements .box /* style et marges des box */
{

background-color: white;
width: 30%;
border-radius: 20px;
margin: 0px 0 2% 2%;
box-shadow: 0px 15px 5px #c2c2c2;
}

#hebergements .box:hover /*effet hover des box hebergements */
{
  background-color: #DEEBFF;

}

#hebergements .box h3, #hebergements .box p /*marge des textes dans les box */
{
  margin-left: 20px;
}

#hebergements .box i /*position des étoiles dans les box*/
{
position: relative; 
left: 20px; bottom: 10px;

}

#hebergements .imagebox /*positionnement et recadrage des photos hebergments*/
{
  
  object-fit: cover; /* la propriété qui évite la déformation de l'image. */
  position: relative;
  top: 10px; left: 5%;
  width: 90%;
  height: 150px;
  border-radius: 20px 20px 0% 0%;

}

#afficher
{
 margin: 0 0 1em 5em ;

}
#afficher a /*taille du lien "afficher plus" */
{
font-size: 1.5em;
font-weight: bold;


}

#afficher a:hover
{
color: #0065FC;
}

/* Style section Trend */

#trend /* mise en forme de la section trend */
{

background-color: #F2F2F2;
border-radius: 20px;
padding: 1%;
width: 25%;
height: fit-content
}

#cadretrend /* les box doivent être dans une div flexboxée pour prendre forme correctement */
{
display: flex;
flex-direction: column;
height: 100%;

}


#trendtitle
{
  display: flex;
  align-items: center;
  justify-content: space-between; 
 
}

#trendtitle i /* couleur et taille icône chart */
{
  color: black;
  font-size: 2em;
}

#trend .box /* style et marges des box section trend*/
{
display: flex;
justify-content: space-between;
height: fit-content;
background-color: white;
border-radius: 20px;
margin: 10px 0 2% 2%;
box-shadow: 0px 15px 5px #c2c2c2;
}

#trend .box:hover /*effet hover des box hebergements */
{
  background-color: #DEEBFF;

}

.boxcontent
{
  display: flex;
  flex-direction: column;
width: 50%;
height: fit-content;
margin-bottom: 10px;

}

#trend .imagebox /*taille des images des box trend*/
{
object-fit:cover; /* la propriété qui évite la déformation de l'image. */
height: 160px;
width: 40%;
border-radius: 20px 0% 0% 20px ;
align-self: center;
margin-left: 5px;

}


/* Style section Activité */


.cadreact
{
 
display: flex;
flex-direction: column;
flex-wrap: wrap;
justify-content: space-between;
height: 500px;



}


.cadreact .box
{
width: 22% ;
height: 45%;
box-shadow: 0px 15px 5px #c2c2c2;
border-radius: 20px;
}

.cadreact .bigbox
{
  width: 22% ;
  height: 100%;
  box-shadow: 0px 15px 5px #c2c2c2;
  border-radius: 20px;
}

.cadreact .box:hover ,.cadreact .bigbox:hover  /*effet hover des box activités */
{
  background-color: #DEEBFF;

}
.cadreact .imagebox /* les styles des images box sont gérés par le même code CSS */
{
  object-fit: cover;  /* la propriété qui évite la déformation de l'image. */
width: 100%;
border-radius: 20px 20px 0 0;
}

.cadreact .box .imagebox /* hauteur photos box */
{
height: 70%;
}

.cadreact .bigbox .imagebox /* hauteur photos bigbox */
{
height: 85%;
}

.cadreact h3
{
margin-left: 5%;

}



/* Style footer */

footer
{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  background-color:#F2F2F2;
}

.footerbox
{
width: 33%;
margin-left: 3%;


}



